/* Importando Partials */
/* Maps */
.main-imprimir {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-name: animate__backInRight;
          animation-name: animate__backInRight;
}

.main-cursos {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-name: animate__backInRight;
          animation-name: animate__backInRight;
}

@-webkit-keyframes animate__backInRight {
  from {
    margin-left: 100%;
    width: 80%;
  }
  to {
    margin-left: 10%;
    width: 80%;
  }
}

@keyframes animate__backInRight {
  from {
    margin-left: 100%;
    width: 80%;
  }
  to {
    margin-left: 10%;
    width: 80%;
  }
}
.btn-generico, .main-contacto .contenedor-contacto .area-formulario .btn-contacto, .main-cursos .clases03 .info-clases3d .btn-cursos, .main-cursos .clases02 .info-clases3d .btn-cursos, .main-cursos .clases .info-clases3d .btn-cursos, .main-imprimir .impresion3d .info-impresion3d .btn-modelado3d, .main-imprimir .modelado3d .info-modelado3d .btn-modelado3d, .main-index .cursos-container .btn-cursos-index a, .main-index .pasos-container .btn-pasos {
  background-color: #41AEA9;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 10px;
  padding: 10px 20px;
  color: rgb(251, 251, 251);
  font-family: "montserrat";
  font-size: 1em;
}
.btn-generico:hover, .main-contacto .contenedor-contacto .area-formulario .btn-contacto:hover, .main-cursos .clases03 .info-clases3d .btn-cursos:hover, .main-cursos .clases02 .info-clases3d .btn-cursos:hover, .main-cursos .clases .info-clases3d .btn-cursos:hover, .main-imprimir .impresion3d .info-impresion3d .btn-modelado3d:hover, .main-imprimir .modelado3d .info-modelado3d .btn-modelado3d:hover, .main-index .cursos-container .btn-cursos-index a:hover, .main-index .pasos-container .btn-pasos:hover {
  background-color: #186b67;
  cursor: pointer;
  color: #f4f4f4;
}
.btn-generico a:link, .main-contacto .contenedor-contacto .area-formulario .btn-contacto a:link, .main-cursos .clases03 .info-clases3d .btn-cursos a:link, .main-cursos .clases02 .info-clases3d .btn-cursos a:link, .main-cursos .clases .info-clases3d .btn-cursos a:link, .main-imprimir .impresion3d .info-impresion3d .btn-modelado3d a:link, .main-imprimir .modelado3d .info-modelado3d .btn-modelado3d a:link, .main-index .cursos-container .btn-cursos-index a a:link, .main-index .pasos-container .btn-pasos a:link, .btn-generico a:visited, .main-contacto .contenedor-contacto .area-formulario .btn-contacto a:visited, .main-cursos .clases03 .info-clases3d .btn-cursos a:visited, .main-cursos .clases02 .info-clases3d .btn-cursos a:visited, .main-cursos .clases .info-clases3d .btn-cursos a:visited, .main-imprimir .impresion3d .info-impresion3d .btn-modelado3d a:visited, .main-imprimir .modelado3d .info-modelado3d .btn-modelado3d a:visited, .main-index .cursos-container .btn-cursos-index a a:visited, .main-index .pasos-container .btn-pasos a:visited, .btn-generico a:active, .main-contacto .contenedor-contacto .area-formulario .btn-contacto a:active, .main-cursos .clases03 .info-clases3d .btn-cursos a:active, .main-cursos .clases02 .info-clases3d .btn-cursos a:active, .main-cursos .clases .info-clases3d .btn-cursos a:active, .main-imprimir .impresion3d .info-impresion3d .btn-modelado3d a:active, .main-imprimir .modelado3d .info-modelado3d .btn-modelado3d a:active, .main-index .cursos-container .btn-cursos-index a a:active, .main-index .pasos-container .btn-pasos a:active {
  text-decoration: none;
}

.card {
  text-align: center;
  margin: 4% 30px;
  z-index: -1;
}
.card .card-body {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.card .card-body p {
  text-align: center;
}
.card .card-body h5, .card .card-body h6, .card .card-body a {
  font-family: "montserrat";
  font-weight: 400;
}

/* INDEX */
/* Header & Nabvar */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2 !important;
}
header .navbar {
  background-color: rgba(237, 248, 255, 0.8);
  top: 0;
}
header .container-fluid .logo {
  height: 100px;
  margin: 5px 50px;
}
header .container-fluid .navbar-items {
  list-style: none;
  flex-direction: row-reverse;
  font-family: "montserrat";
}
header .container-fluid .navbar-items .navbar-nav {
  margin-right: 15px;
  text-align: right;
}

/* Carrousel */
.carousel-inner {
  height: 80vh;
}
.carousel-inner .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 80vh !important;
}

/* Pasos */
.main-index {
  /* Cursos */
}
.main-index .pasos-container {
  padding: 50px;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #fcfcfc;
}
.main-index .pasos-container h1 {
  color: #213E3B;
  font-size: 2.5em;
  font-family: "montserrat";
  text-align: center;
  margin-bottom: 3%;
}
.main-index .pasos-container .pasos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
.main-index .pasos-container .pasos .img-pasos :hover {
  scale: 1.1;
}
.main-index .pasos-container .pasos h3 {
  text-align: center;
  font-family: "montserrat";
  font-weight: 800;
  margin-top: 10%;
}
.main-index .pasos-container .btn-pasos {
  display: flex;
  justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 20px auto 0;
}
.main-index .pasos-container .btn-pasos a {
  color: #f4f4f4;
  size: 1em;
  font-family: "montserrat";
  text-decoration: none;
  font-weight: 600;
}
.main-index .cursos-container {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/Fondo-cursos.jpg);
  background-position: right;
  background-size: cover;
}
.main-index .cursos-container img {
  margin: 50px 50px 50px 50px;
}
.main-index .cursos-container h2 {
  color: #f4f4f4;
  font-family: "montserrat";
}
.main-index .cursos-container p {
  text-align: left;
  width: 30vw;
  margin-top: 15px;
  color: #f4f4f4;
  font-family: "helvetica";
}
.main-index .cursos-container .btn-cursos-index {
  margin-top: 20px;
}
.main-index .cursos-container .btn-cursos-index a {
  color: #f4f4f4;
  size: 1em;
  font-family: "montserrat";
  text-decoration: none;
  font-weight: 600;
}

/* Footer */
footer {
  display: block;
  background-color: darkslategray;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}
footer .logos-footer-contenedor {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
}
footer .logos-footer-contenedor a {
  margin: 0 10px;
}
footer .logos-footer-contenedor a .logos-footer {
  height: 70px;
  width: 70px;
}
footer .copy {
  width: 100%;
  text-align: center;
  padding: 2% 0 1% 0;
}
footer .copy h6 {
  font-weight: 200;
  font-size: 0.8em;
  color: #f4f4f4;
}
footer .copy h6 {
  font-weight: 200;
  font-size: 0.8em;
  color: #f4f4f4;
}

/* Index Media Queries */
@media (max-width: 768px) {
  header .navbar-toggler {
    margin-right: 20px;
  }
  header .container-fluid a .logo {
    height: 80px;
    margin: 5px 10px;
  }
  footer .logos-footer-contenedor a .logos-footer {
    height: 40px;
    width: 40px;
  }
  .carousel-inner {
    height: 50vh;
  }
  .carousel-item img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 50vh !important;
  }
  .pasos-container h1 {
    font-size: 2em !important;
    margin-bottom: 5% !important;
  }
  .pasos-container .pasos {
    gap: 20px !important;
  }
  .pasos-container .pasos .img-pasos img {
    height: 180px;
  }
  .cursos-container {
    flex-direction: column;
  }
  .cursos-container .img-cursos img {
    height: 120px;
    margin: 30px;
  }
  .cursos-container .info-cursos h2 {
    margin: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .cursos-container .info-cursos p {
    width: 80vw;
    padding: 0 15px;
    margin: auto;
    text-align: center;
  }
  .cursos-container .info-cursos .btn-cursos-index {
    padding-bottom: 40px;
    display: flex;
  }
  .cursos-container .info-cursos .btn-cursos-index a {
    margin: auto;
  }
}
/* IMPRIMIR */
.main-imprimir {
  margin: 5% 10%;
}
.main-imprimir h1 {
  font-size: 2em;
  color: #213E3B;
  font-family: "montserrat";
  text-align: left;
  margin-bottom: 3%;
}
.main-imprimir .modelado3d {
  margin: 40px 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-image: url(../img/Modelado3d.jpg);
  background-size: cover;
  background-position: center;
}
.main-imprimir .modelado3d .info-modelado3d {
  padding: 40px 0 40px 40px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
}
.main-imprimir .modelado3d .info-modelado3d h3 {
  font-family: "montserrat";
}
.main-imprimir .modelado3d .info-modelado3d p {
  margin-bottom: 5%;
  font-family: "helvetica";
  width: 200px;
}
.main-imprimir .modelado3d .info-modelado3d .btn-modelado3d a {
  color: #f4f4f4;
}
.main-imprimir .materiales h3 {
  font-size: 1.5em;
  color: #213E3B;
  font-family: "montserrat";
  text-align: left;
}
.main-imprimir .materiales p {
  font-family: "helvetica";
  width: 90%;
}
.main-imprimir .contenedor-card-plasticos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-imprimir .impresion3d {
  margin: 40px 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-image: url(../img/Impresion3d.jpg);
  background-size: cover;
  background-position: center;
}
.main-imprimir .impresion3d .info-impresion3d {
  padding: 40px 0 40px 40px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
}
.main-imprimir .impresion3d .info-impresion3d h3 {
  font-family: "montserrat";
  color: #f4f4f4;
}
.main-imprimir .impresion3d .info-impresion3d p {
  margin-bottom: 5%;
  font-family: "helvetica";
  width: 200px;
  color: #f4f4f4;
}
.main-imprimir .impresion3d .info-impresion3d .btn-modelado3d a {
  color: #f4f4f4;
}

/* Imprimir Media Queries */
@media (max-width: 768px) {
  .main-imprimir h1 {
    font-size: 1.6em;
  }
  .main-cursos h1 {
    font-size: 1.6em;
  }
}
/* CURSOS */
/* Pasos */
.main-cursos {
  margin: 5% 10%;
}
.main-cursos h1 {
  font-size: 2em;
  color: #213E3B;
  font-family: "montserrat";
  text-align: left;
  margin-bottom: 3%;
}
.main-cursos .clases {
  margin-top: 40px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 80vw;
  background-image: url(../img/Clases01.jpg);
  background-size: cover;
  background-position: center;
}
.main-cursos .clases .info-clases3d {
  padding: 40px 0 40px 40px;
  width: 90%;
  height: 100%;
}
.main-cursos .clases .info-clases3d h3 {
  font-family: "montserrat";
  color: #213E3B;
}
.main-cursos .clases .info-clases3d p {
  margin-bottom: 20px;
  font-family: "helvetica";
  width: 190px;
  color: #213E3B;
}
.main-cursos .clases .info-clases3d .btn-cursos a {
  color: #f4f4f4;
}
.main-cursos .clases02 {
  margin-top: 40px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 80vw;
  background-image: url(../img/Clases02.jpg);
  background-size: cover;
  background-position: center;
}
.main-cursos .clases02 .info-clases3d {
  padding: 40px 0 40px 40px;
  width: 80%;
  height: 100%;
}
.main-cursos .clases02 .info-clases3d h3 {
  font-family: "montserrat";
  color: #213E3B;
}
.main-cursos .clases02 .info-clases3d p {
  margin-bottom: 20px;
  font-family: "helvetica";
  width: 190px;
  color: #213E3B;
}
.main-cursos .clases02 .info-clases3d .btn-cursos a {
  color: #f4f4f4;
}
.main-cursos .clases03 {
  margin-top: 40px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 80vw;
  background-image: url(../img/Clases03.jpg);
  background-size: cover;
  background-position: center;
}
.main-cursos .clases03 .info-clases3d {
  padding: 40px 0 40px 40px;
  width: 90%;
  height: 100%;
}
.main-cursos .clases03 .info-clases3d h3 {
  font-family: "montserrat";
  color: #213E3B;
}
.main-cursos .clases03 .info-clases3d p {
  margin-bottom: 20px;
  font-family: "helvetica";
  width: 190px;
  color: #213E3B;
}
.main-cursos .clases03 .info-clases3d .btn-cursos a {
  color: #f4f4f4;
}

/* Cursos Media Queries */
@media (max-width: 768px) {
  .main-cursos h1 {
    font-size: 1.6em;
  }
}
/* CONTACTO */
.main-contacto {
  margin: 5% 10% 5% 10%;
}
.main-contacto h1 {
  font-size: 2em;
  color: #213E3B;
  font-family: "montserrat";
  text-align: left;
  margin-bottom: 3%;
}
.main-contacto .contenedor-contacto {
  display: flex;
}
.main-contacto .contenedor-contacto .area-formulario {
  width: 100%;
}
.main-contacto .contenedor-contacto .area-formulario .btn-contacto a {
  color: #f4f4f4;
}
.main-contacto .contenedor-contacto .contenedor-imagen-contacto {
  width: 100%;
  display: flex;
  justify-content: right;
}
.main-contacto .contenedor-contacto .contenedor-imagen-contacto iframe {
  height: 470px;
  width: 100%;
  padding: 5% 5% 0 5%;
  overflow: hidden;
}

/* Contacto Media Queries */
@media (max-width: 768px) {
  .main-contacto h1 {
    font-size: 1.6em;
  }
  .main-contacto .contenedor-contacto {
    display: block;
  }
  .main-contacto .contenedor-contacto .contenedor-imagen-contacto iframe {
    padding: 0;
    margin: 35px 0;
    height: 200px;
    overflow: hidden;
  }
}
/* NOSOTROS */
.main-nosotros {
  margin: 5% 10% 5% 10%;
}
.main-nosotros h1 {
  font-size: 2em;
  color: #213E3B;
  font-family: "montserrat";
  text-align: left;
  margin-bottom: 3%;
}
.main-nosotros .nosotros-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "imagen01 imagen01 texto01 texto01" "texto02 texto02 imagen02 imagen02";
  row-gap: 80px;
  -moz-column-gap: 25px;
       column-gap: 25px;
  margin-bottom: 50px;
}
.main-nosotros .img-nosotros1 {
  grid-area: imagen01;
  overflow: hidden;
  border-radius: 15px;
}
.main-nosotros .img-nosotros1 img {
  height: 60vh;
}
.main-nosotros .img-nosotros2 {
  grid-area: imagen02;
  height: 60vh;
  overflow: hidden;
  border-radius: 15px;
}
.main-nosotros .img-nosotros2 img {
  height: 60vh;
}
.main-nosotros .texto01 {
  grid-area: texto01;
  display: flex;
  align-items: center;
  padding: 5%;
  font-family: "helvetica";
}
.main-nosotros .texto02 {
  grid-area: texto02;
  display: flex;
  align-items: center;
  padding: 5%;
  font-family: "helvetica";
}
.main-nosotros .galeria-nosotros h3 {
  font-size: 1.5em;
  color: #213E3B;
  font-family: "montserrat";
  text-align: left;
  margin-top: 80px;
}
.main-nosotros .galeria-nosotros p {
  font-family: "helvetica";
}

/* Nosotros Media Queries */
@media (max-width: 768px) {
  .main-nosotros h1 {
    font-size: 1.6em;
  }
  .main-nosotros .nosotros-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas: "imagen01" "texto01" "imagen02" "texto02";
    row-gap: 0%;
    -moz-column-gap: 3%;
         column-gap: 3%;
    margin: 40px 0;
  }
  .main-nosotros .nosotros-info .img-nosotros1 {
    grid-area: imagen01;
    height: 30vh;
  }
  .main-nosotros .nosotros-info .img-nosotros2 {
    grid-area: imagen02;
    height: 30vh;
  }
  .main-nosotros .nosotros-info .texto01 {
    grid-area: texto01;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .main-nosotros .nosotros-info .texto01 p {
    text-align: center;
    padding-top: 5%;
    font-size: 0.9rem;
  }
  .main-nosotros .nosotros-info .texto02 {
    grid-area: texto02;
  }
  .main-nosotros .nosotros-info .texto02 p {
    text-align: center;
    padding-top: 5%;
    font-size: 0.9rem;
  }
  .main-nosotros .nosotros-info .galeria-nosotros h3 {
    font-size: 1.1rem;
  }
  .main-nosotros .nosotros-info .galeria-nosotros p {
    font-size: 1rem;
  }
}/*# sourceMappingURL=estilo.css.map */