/* Importando Partials */

@import "_vars";
@import "_animations";
@import "_commons";


/* INDEX */
/* Header & Nabvar */
header {
    position: sticky;
    top: 0;
    z-index: 2 !important;
    .navbar {
        background-color: $navBarColor;
        top: 0;
    }
    .container-fluid {
        .logo {
            height: 100px;
            margin: 5px 50px;
        }
        .navbar-items {
            list-style: none;
            flex-direction: row-reverse;
            font-family: "montserrat";
            .navbar-nav {
                margin-right: 50px;
            }
        }
    }
}

/* Carrousel */
    .carousel-inner {
        height: 80vh;
        .carousel-item {
            img {
                object-fit: cover;
                height: 80vh !important;
            }
        }
    }

/* Pasos */
.main-index {
    .pasos-container {
        padding: 50px;
        width: 100%;
        height: max-content;
        background-color: $bgColor;

        h1 {
            color: map-get($titlesh1, color);
            font-size: 2.5em;
            font-family: map-get($titlesh1, fontFamily);
            text-align: center;
            margin-bottom: 3%;
        }

        .pasos {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 50px;
            justify-content: center;

            .img-pasos :hover {
                scale: 1.1;
            }

            h3 {
                text-align: center;
                font-family: "montserrat";
                font-weight: 800;
                margin-top: 10%;
            }
        }

        .btn-pasos {
            display: flex;
            justify-content: center;
            @extend .btn-generico;
            width: max-content;
            margin: 20px auto 0;

            a {
                @include btnText;
            }
        }
    }

    /* Cursos */
    .cursos-container {
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../img/Fondo-cursos.jpg);
        background-position: right;
        background-size: cover;

        img {
            margin: 50px 50px 50px 50px;
        }

        h2 {
            color: $btnTextColor;
            font-family: "montserrat";
        }

        p {
            text-align: left;
            width: 30vw;
            margin-top: 15px;
            color: $btnTextColor;
            font-family: "helvetica";
        }

        .btn-cursos-index {
            margin-top: 20px;

            a {
                @extend .btn-generico;
                @include btnText;
            }
        }
    }
}

/* Footer */
footer {
    display: flex;
    height: 100px;
    background-color: $footerColor;
    justify-content: center;
    align-items: center;
    margin-top: auto;

    .logos-footer {
        width: 80px;
        color: aliceblue;
        padding: 0 15px;
    }
}

/* Index Media Queries */

@media (max-width: 768px) {

    header {
        .navbar-toggler {
            margin-right: 20px;
        }

        .container-fluid {
            a {
                .logo {
                    height: 80px;
                    margin: 5px 10px;
                }
            }
        }
    }

    footer {
        height: 40px;

        a {
            .logos-footer {
                width: 65px;
            }
        }
    }

    .carousel-inner {
        height: 50vh;
    }

    .carousel-item {
        img {
            object-fit: cover;
            height: 50vh !important;
        }
    }

    .pasos-container {
        h1 {
            font-size: 2em !important;
            margin-bottom: 5% !important;
        }

        .pasos {
            gap: 20px !important;

            .img-pasos {
                img {
                    height: 180px;
                }
            }
        }
    }

    .cursos-container {
        flex-direction: column;

        .img-cursos {
            img {
                height: 120px;
                margin: 30px;
            }
        }

        .info-cursos {
            h2 {
                margin: auto;
                width: max-content;
            }

            p {
                width: 80vw;
                padding: 0 15px;
                margin: auto;
                text-align: center;
            }

            .btn-cursos-index {
                padding-bottom: 40px;
                display: flex;

                a {
                    margin: auto;
                }
            }
        }
    }
}



/* IMPRIMIR */
.main-imprimir {
    margin: 5% 10%;

    h1 {
        font-size: map-get($titlesh1, size);
        color: map-get($titlesh1, color);
        font-family: map-get($titlesh1, fontFamily);
        text-align: left;
        margin-bottom: 3%;
    }

    .modelado3d {
        margin: 40px 0;
        height: max-content;
        background-image: url(/img/Modelado3d.jpg);
        background-size: cover;
        background-position: center;

        .info-modelado3d {
            padding: 40px 0 40px 40px;
            width: max-content;
            height: 100%;

            h3 {
                font-family: "montserrat";
            }

            p {
                margin-bottom: 5%;
                font-family: "helvetica";
                width: 200px;
            }

            .btn-modelado3d {
                @extend .btn-generico;

                a {
                    color: $btnTextColor;
                }
            }
        }
    }

    .materiales {
        h3 {
            font-size: map-get($titlesh3, size);
            color: map-get($titlesh3, color);
            font-family: map-get($titlesh3, fontFamily);
            text-align: left;
        }

        p {
            font-family: "helvetica";
            width: 90%;
        }
    }

    .contenedor-card-plasticos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .impresion3d {
        margin: 40px 0;
        height: max-content;
        background-image: url(/img/Impresion3d.jpg);
        background-size: cover;
        background-position: center;

        .info-impresion3d {
            padding: 40px 0 40px 40px;
            width: max-content;
            height: 100%;

            h3 {
                font-family: "montserrat";
                color: $btnTextColor;
            }

            p {
                margin-bottom: 5%;
                font-family: "helvetica";
                width: 200px;
                color: $btnTextColor;
            }

            .btn-modelado3d {
                @extend .btn-generico;

                a {
                    color: $btnTextColor;
                }
            }
        }
    }
}

/* Imprimir Media Queries */

@media (max-width: 768px) {

    .main-imprimir {
        h1 {
            font-size: 1.6em;
        }
    }

    .main-cursos {
        h1 {
            font-size: 1.6em;
        }
    }

}

/* CURSOS */
/* Pasos */

.main-cursos {
    margin: 5% 10%;

    h1 {
        font-size: map-get($titlesh1, size);
        color: map-get($titlesh1, color);
        font-family: map-get($titlesh1, fontFamily);
        text-align: left;
        margin-bottom: 3%;
    }

    .clases {
        margin-top: 40px;
        height: max-content;
        width: 80vw;
        background-image: url(../img/Clases01.jpg);
        background-size: cover;
        background-position: center;

        .info-clases3d {
            padding: 40px 0 40px 40px;
            width: 90%;
            height: 100%;

            h3 {
                font-family: "montserrat";
                color: $titleColor;
            }

            p {
                margin-bottom: 20px;
                font-family: "helvetica";
                width: 190px;
                color: $titleColor;
            }

            .btn-cursos {
                @extend .btn-generico;

                a {
                    color: $btnTextColor;
                }
            }
        }
    }

    .clases02 {
        margin-top: 40px;
        height: max-content;
        width: 80vw;
        background-image: url(../img/Clases02.jpg);
        background-size: cover;
        background-position: center;
        
        .info-clases3d {
            padding: 40px 0 40px 40px;
            width: 80%;
            height: 100%;
            h3 {
                font-family: "montserrat";
                color: $titleColor;
            }
            p {
                margin-bottom: 20px;
                font-family: "helvetica";
                width: 190px;
                color: $titleColor;
            }
            .btn-cursos {
                @extend .btn-generico;
                a {
                    color: $btnTextColor;
                }
            }
        }
    }

    .clases03 {
        margin-top: 40px;
        height: max-content;
        width: 80vw;
        background-image: url(../img/Clases03.jpg);
        background-size: cover;
        background-position: center;
        .info-clases3d {
            padding: 40px 0 40px 40px;
            width: 90%;
            height: 100%;
            h3 {
                font-family: "montserrat";
                color: $titleColor;
            }
            p {
                margin-bottom: 20px;
                font-family: "helvetica";
                width: 190px;
                color: $titleColor;
            }
            .btn-cursos {
                @extend .btn-generico;
                a {
                    color: $btnTextColor;
                }
            }
        }
    }
}

/* Cursos Media Queries */

@media (max-width: 768px) {
    .main-cursos {
        h1 {
            font-size: 1.6em;
        }
    }
}

/* CONTACTO */

.main-contacto {
    margin: 5% 10% 5% 10%;

    h1 {
        font-size: map-get($titlesh1, size);
        color: map-get($titlesh1, color);
        font-family: map-get($titlesh1, fontFamily);
        text-align: left;
        margin-bottom: 3%;
    }
    .contenedor-contacto {
        display: flex;
        .area-formulario {
            width: 100%;
            .btn-contacto {
                @extend .btn-generico;

                a {
                    color: $btnTextColor;
                }
            }
        }
        .contenedor-imagen-contacto {
            width: 100%;
            display: flex;
            justify-content: right;
            img {
                object-fit: cover;
                width: 100%;
                height: 470px;
                padding: 5% 5% 0 5%;
            }
        }
    }
}

/* Contacto Media Queries */

@media (max-width: 768px) {
    .main-contacto {
        h1 {
            font-size: 1.6em;
        }
        .contenedor-contacto {
            display: block;
            .contenedor-imagen-contacto {
                .imagen-contacto {
                    padding: 0;
                    margin-top: 15px;
                    height: 200px;
                }
            }
        }
    }
}


/* NOSOTROS */
.main-nosotros {
    margin: 5% 10% 5% 10%;
    h1 {
        font-size: map-get($titlesh1, size);
        color: map-get($titlesh1, color);
        font-family: map-get($titlesh1, fontFamily);
        text-align: left;
        margin-bottom: 3%;
    }

    .nosotros-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "imagen01 imagen01 texto01 texto01"
            "texto02 texto02 imagen02 imagen02";
        row-gap: 80px;
        column-gap: 25px;
        margin-bottom: 50px;
    }
    .img-nosotros1 {
        grid-area: imagen01;
        overflow: hidden;
        border-radius: 15px;
        img {
            height: 60vh;
        }
    }
    .img-nosotros2 {
        grid-area: imagen02;
        height: 60vh;
        overflow: hidden;
        border-radius: 15px;
        img {
            height: 60vh;
        }
    }
    .texto01 {
        grid-area: texto01;
        display: flex;
        align-items: center;
        padding: 5%;
        font-family: "helvetica";
    }
    .texto02 {
        grid-area: texto02;
        display: flex;
        align-items: center;
        padding: 5%;
        font-family: "helvetica";
    }
    .galeria-nosotros {
        h3 {
            font-size: map-get($titlesh3, size);
            color: map-get($titlesh3, color);
            font-family: map-get($titlesh3, fontFamily);
            text-align: left;
            margin-top: 80px;
        }
        p {
            font-family: "helvetica";
        }
    }
}

/* Nosotros Media Queries */

@media (max-width: 768px) {


    .main-nosotros {
        h1 {
            font-size: 1.6em;
        }
        .nosotros-info {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
            grid-template-areas:
                "imagen01"
                "texto01"
                "imagen02"
                "texto02";
            row-gap: 0%;
            column-gap: 3%;
            margin: 40px 0;
            .img-nosotros1 {
                grid-area: imagen01;
                height: 30vh;
            }
            .img-nosotros2 {
                grid-area: imagen02;
                height: 30vh;
            }
            .texto01 {
                grid-area: texto01;
                height: fit-content;
                p {
                    text-align: center;
                    padding-top: 5%;
                    font-size: 0.9rem;
                }
            }
            .texto02 {
                grid-area: texto02;
                p {
                    text-align: center;
                    padding-top: 5%;
                    font-size: 0.9rem;
                }
            }
            .galeria-nosotros {
                h3 {
                    font-size: 1.1rem;
                }
                p {
                    font-size: 1rem;
                }
            }
        }
    }
}